/* src/CSS/CityPage.css */
.city-page {
  max-width: 800px;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.search-bar input {
  flex: 1;
  margin-right: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.search-bar button {
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .search-bar {
    flex-direction: column;
  }

  .search-bar input {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .search-bar button {
    margin-bottom: 0.5rem;
  }
}
